html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: 200;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #171c61;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color: #ffd0d0;
}

body {
  color: #171c61;
  background: #fff;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

body .cursor circle {
  color: #171c61;
}

body div.mainContent .line {
  position: fixed;
  bottom: 14vh;
  right: 3rem;
  border-right: 2px solid #171c61;
  border-radius: 2px;
  height: 6vw;
  width: 1rem;
  z-index: -1000;
}

body div.mainContent #nav {
  position: fixed;
  text-align: right;
  right: 0;
  top: 40vh;
  z-index: 1;
}

body div.mainContent #nav li {
  margin-right: 3rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  display: block;
  letter-spacing: 0.3rem;
}

body div.mainContent #nav li p {
  font-weight: 400;
  display: inline;
  position: relative;
}

body div.mainContent #nav li p:after {
  position: absolute;
  content: "";
  background: #fff;
  bottom: 0;
  right: 0;
  height: 110%;
  width: 110%;
  z-index: -1;
  border-radius: 10rem;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

body div.mainContent div.title {
  position: fixed;
  margin-left: 3rem;
  top: 3rem;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  z-index: 100;
}

body div.mainContent div.title span {
  font-size: 3rem;
  display: inline-block;
}

body div.mainContent #cover {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body div.mainContent #cover .pinkk {
  height: 70vh;
  width: 70vh;
  border-radius: 35vh;
  background: #ffd0d0;
  position: absolute;
  top: 15vh;
  right: 0;
  z-index: -10;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

body div.mainContent #cover .bluee {
  height: 70vh;
  width: 70vh;
  border-radius: 35vh;
  background: #171c61;
  position: absolute;
  top: 15vh;
  left: 0;
  z-index: -10;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

body div.mainContent #cover div h1 {
  font-size: 5rem;
}

.container {
  padding: 3rem;
  padding-right: 4rem;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.container .thing {
  margin-left: 0;
  padding-top: 4rem;
  position: relative;
  height: 100vh;
  width: 100%;
}

.container .thing .ball {
  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  position: absolute;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.container .thing .melball {
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  background: #ffd0d0;
  left: 0;
  bottom: 2rem;
}

.container .thing .merball {
  background: #171c61;
  right: 0;
  top: 4rem;
}

.container .thing .leftitle {
  position: absolute;
  left: 0;
  bottom: 2rem;
}

.container .thing .leftitle p {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.container .thing .myself {
  position: relative;
  width: 68%;
  height: 80%;
  margin: 0 16%;
}

.container .thing .myself .meimg {
  position: absolute;
  width: 40vw;
  height: 70vh;
  margin-top: 10vh;
  margin-left: 5vw;
  overflow: hidden;
}

.container .thing .myself .meimg img {
  width: 80%;
}

.container .thing .myself .metext {
  position: absolute;
  width: 40vw;
  height: 70vh;
  margin-top: 10vh;
  margin-left: 40vw;
  font-size: 1.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
}

.container .thing .myself .metext p {
  font-weight: bold;
}

.container .thing .myself .mecircle {
  position: absolute;
  height: 70vh;
  width: 70vh;
  border-radius: 35vh;
  background: #ffd0d0;
  z-index: -10;
  top: 10vh;
  left: 20vw;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

#foot {
  padding-top: 4rem;
  position: relative;
  height: 20vh;
  width: 100%;
  margin-left: 0;
  background: #171c61;
}
/*# sourceMappingURL=style.css.map */