@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: 200;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  min-width: 1400px;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #171c61;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  color: #ffd0d0;
}

body {
  color: #171c61;
  background: #fff;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

body .cursor circle {
  background: #171c61;
}

body div.mainContent .line {
  position: fixed;
  bottom: 14vh;
  right: 3rem;
  border-right: 2px solid #171c61;
  border-radius: 2px;
  height: 6vw;
  width: 1rem;
  z-index: 300;
}

body div.mainContent #nav {
  position: fixed;
  text-align: right;
  right: 0;
  top: 40vh;
  z-index: 999;
}

body div.mainContent #nav li {
  margin-right: 3rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  display: block;
  letter-spacing: 0.3rem;
}

body div.mainContent #nav li p {
  font-weight: 550;
  display: inline;
  position: relative;
}

body div.mainContent #nav li p:after {
  position: absolute;
  content: "";
  background: #fff;
  bottom: 0;
  right: 0;
  height: 110%;
  width: 110%;
  z-index: -1;
  border-radius: 10rem;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

body div.mainContent div.title {
  position: fixed;
  margin-left: 3rem;
  top: 3rem;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  z-index: 100;
}

body div.mainContent div.title span {
  font-size: 3rem;
  display: inline-block;
}

body #cover {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body #cover .pinkk {
  height: 70vh;
  width: 70vh;
  border-radius: 35vh;
  background: #ffd0d0;
  position: absolute;
  top: 15vh;
  right: 0;
  z-index: -10;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

body #cover .pinkk .bluee {
  height: 70vh;
  width: 70vh;
  border-radius: 35vh;
  background: #171c61;
  position: absolute;
  top: 15vh;
  left: 0;
  z-index: -10;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

body #cover .pinkk div h1 {
  font-size: 5rem;
}

.container {
  padding: 3rem;
  padding-right: 4rem;
  padding-top: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-width: 700px;
}

.container .thing {
  margin-left: 0;
  padding-top: 4rem;
  position: relative;
  height: 100vh;
  width: 100%;
  min-width: 500px;
}

.container .thing .ball {
  height: 20vh;
  width: 20vh;
  border-radius: 10vh;
  position: absolute;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.container .thing .melball {
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  background: #ffd0d0;
  left: 0;
  bottom: 2rem;
}

.container .thing .merball {
  height: 10vh;
  width: 10vh;
  border-radius: 5vh;
  background: #ffd0d0;
  right: 0;
  top: 4rem;
}

.container .thing .leftitle {
  position: fixed;
  left: 3rem;
  bottom: 2rem;
  z-index: 100;
}

.container .thing .leftitle p {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  line-height: 4rem;
}

.container .thing .myself {
  position: relative;
  width: 100vw;
  height: 750px;
  min-width: 500px;
  min-height: 700px;
  overflow: hidden;
}

.container .thing .myself .meimg {
  position: absolute;
  width: 1500px;
  height: 750px;
  margin: 0 50%;
  min-width: 400px;
  -webkit-transform: translate(-25%);
          transform: translate(-25%);
}

.container .thing .myself .meimg img {
  width: 80%;
  min-width: 400px;
}

.container .thing .myself .metext {
  position: absolute;
  width: 40vw;
  height: 70vh;
  margin-top: 10vh;
  margin-left: 45vw;
  font-size: 1.1vw;
  line-height: 3.2vw;
  letter-spacing: 0.2vw;
}

.container .thing .myself .metext p {
  font-weight: bold;
}

.container .thing .myself .mecircle {
  position: absolute;
  height: 70vh;
  width: 70vh;
  border-radius: 35vh;
  background: #ffd0d0;
  z-index: -10;
  top: 10vh;
  left: 20vw;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

#foot {
  padding-top: 0rem;
  position: relative;
  height: 20vh;
  background: #171c61;
  color: #fff;
  z-index: 500;
}

#foot .footer {
  position: absolute;
  top: 3rem;
  left: 3rem;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
}

#foot .footer h1 {
  font-size: 1.5rem;
}

.section {
  position: relative;
  width: 60%;
  height: 100%;
  min-width: 500px;
  min-height: 700px;
  margin: 0% 20%;
  padding: 50vh 0%;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.section .ballsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-direction: center;
      flex-direction: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 50%;
}

.section .ballsection .ballo:after {
  content: '';
  background: #171c61;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  z-index: -100;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 50%;
}

.section .ballsection .balloo1:after {
  content: '';
  background: #ffd0d0;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  z-index: -100;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 50%;
}

.section .ballsection img {
  width: 20vw;
  min-width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 30%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition: 1.5s;
}

.section .ballsection img:hover {
  opacity: 1;
}

.section .ballsection .ballcis1 {
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 2;
}

.section .ballsection .ballcis1:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 30%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '對白設計\A Dialogue Design';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballsection .ballcis2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 1;
}

.section .ballsection .ballcis2:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 30%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '空軍舊址\A Air Force Command Headquarters';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballsection .ballcis3 {
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 2;
}

.section .ballsection .ballcis3:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 30%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '嗨森設計工作室\A High Song Design';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballsection .ballgra1 {
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 2;
}

.section .ballsection .ballgra1:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 30%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '無垢體\A Purity';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballsection .ballgra2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 1;
}

.section .ballsection .ballgra2:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 30%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '字體與書封\A Typographic & Cover Design';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballgra3 {
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 2;
}

.section .ballgra3:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 30%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '誤植\A Botanical Error';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballmo1 {
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 2;
}

.section .ballmo1:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '後獨白 動態設計\A Post-Monologue';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .ballmo2 {
  position: relative;
  width: 100%;
  height: 20vw;
  z-index: 2;
}

.section .ballmo2:hover:before {
  content: '';
  position: absolute;
  top: 120%;
  left: 50%;
  width: 60%;
  height: 60%;
  z-index: 800;
  font-size: 1.3rem;
  font-weight: 550;
  content: '赤\A RED';
  white-space: pre-line;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
}

.section .textsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-direction: center;
      flex-direction: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section .textsection h1 {
  font-size: 1.5rem;
  font-weight: 550;
}

.section .textsection h2 {
  font-weight: 550;
}

.section .textsection .textcis {
  color: #171c61;
  font-size: 1.1rem;
  z-index: 999;
  position: relative;
  margin-top: 40%;
}
/*# sourceMappingURL=stylesec.css.map */